*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/4k-car-wallpaper-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.item{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    background-color: rgba(128, 128, 128, 0.404);
    margin: 10px;
    color: white;

}
img{
    border-radius:50%;
    width: 150px;
    margin: 10px;
}
p{
    font-size: 1.2em;
    margin: 0 10px;
    text-align: center;
}