*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/4k-car-wallpaper-9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.container{
    max-width: 400px;
    max-height: 600px;
}
form{
    background-color: rgba(128, 128, 128, 0.604);
    padding: 25px;
}
h1{
    text-align: center;
    padding: 0 0 10px 0;
    color: rgba(255, 255, 255);

}
.item{
    display: flex;
    justify-content: flex-end;
    font-size: 1.3em;
    padding-bottom: 15px;
}
label{
    padding: 0px 5px;
    color: rgba(255, 255, 255);
}
input{
    font-size:0.75em;
    padding-left: 5px;
}
a{
    color: rgb(251, 255, 0);
}
.button_container{
    display: grid;
    place-items: center;
}
button{
    width: 50%;
    height: 25px;
    font-size: 1.2em;
    background-color: rgba(46, 154, 255, 0.8);
}