*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/Wallpapers/Free-Download-HD-Car-Wallpapers-Images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
@media screen and (max-width: 1000px) {
    body {
        display: grid;
        place-items: center;
    }
    nav{
        position: inherit !important;
        top: 0;
        margin-bottom: 0.5em !important;
    }
}
.form{
    background-color: rgba(128, 128, 128, 0.604);
    padding: 25px 25px 15px 25px;
    max-width: 400px;
    max-height: 800px;
    margin: 1em;
}
.container{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    padding: 0 0 10px 0;
    color: rgba(255, 255, 255);
    font-size: 2em;
}
label{
    font-size: 1.3em;
    color: #fff;
}
input,textarea{
    font-size:1.3em;
    padding-left: 10px;
    margin-bottom: 15px;
}
.item_container{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
#endTime,#startTime{
    width: 30%;
    font-size: 1.3em;
}
.button_container{
    display: grid;
    place-items: center;
    font-size: 1.2em;
}
#submit{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(46, 154, 255, 0.8);
}
#submit:hover{
    background-color: rgba(90, 175, 255, 0.8);
}
#submit:active{
    background-color: rgba(0, 67, 129, 0.8);
}
a{
    color: rgb(251, 255, 0);
    text-decoration: none;
}
a:active{
    color: rgb(155, 158, 0);
}
nav{
    position: absolute;
    top: 5px;
    margin-bottom: 0.5em !important;
}