*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/Wallpapers/Backgrounds-HD-Car-Wallpapers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.8);
    padding: 25px 25px 15px 25px;
    max-width: 400px;
    max-height: 800px;
    margin: 1em;
}
h1{
    text-align: center;
    color: rgba(255, 255, 255);
    font-size: 2em;
    margin-bottom: 1em;
}
.item_container{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
input,select{
    width: 100%;
    font-size:1.3em;
    padding-left: 10px;
    margin-bottom: 15px;
}
label{
    width: 70%;
    font-size: 1.3em;
    color: #fff;
}
.button_container{
    display: grid;
    place-items: center;
    font-size: 1.2em;
    margin-top: 15px;
}
#submit{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(46, 154, 255, 0.8);
}
#submit:hover{
    background-color: rgba(90, 175, 255, 0.8);
}
#submit:active{
    background-color: rgba(0, 67, 129, 0.8);
}
nav{
    position: absolute;
    top: 5px;
    color: rgb(0, 132, 255) !important;
}
a{
    color: rgb(0, 132, 255);
    text-decoration: none;
}
a:active{
    color: rgb(0, 78, 151);
}
